*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}
#no-add-items{
height:1em;
width: 1em;
display: flex;
justify-content: center;
align-items: center;
background-color: hsl(26, 100%, 55%);
border-radius: 50%;
position: absolute;
z-index: 1;
margin-top: -0.8em;
color:hsl(0, 0%, 100%);
font-size: 0.8em;
padding: 0.1em;
display: none;
}
.cart-item{
    height: 10em;
    width: 14em;
    background-color:hsl(0,0%,100%);
    border-radius: 0.5em;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    margin-left:56em;
    margin-top: 4em;
    box-shadow: 0.1em 0.1em 1em 0.5em hsl(220, 14%, 75%);
    visibility: hidden;
    
}


.cart-item hr{
    width: 100%;
    margin-left:-0em;
    margin-bottom: 2em;
}
#total-price-of-itm{
    color: hsl(180, 5%, 4%);
}
#add-item{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
    display: none;
}
.item-info{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: 0.6em;
     color: hsl(219, 9%, 45%);
}

#checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width:15em;
    border: none;
    border-radius: 0.5em;
    background-color: hsl(26, 100%, 55%);
    margin-left: 0.9em;
    margin-top: 1em;
    display: none;
}
.item-info img{
height: 4em;
width: 4em;
border-radius:0.5em;
}
#prompt{
color: hsl(219, 9%, 45%);
margin-left: 3.5em;
font-size: 0.8em;
}
.cart-profile-section{
display: flex;
flex-direction: row;
gap: 1em;
justify-content: center;
align-items: center;
}
.menu-logo{
    display: none;
}
.mobile-bar{
    display: none;
}
.head-logo{
    display: flex;
    flex-direction: row;
    gap:1em;
    align-items: center;
}
#bar-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    height: 100%;
}
hr{
    /* margin-top: 1em; */
    color: hsl(223, 64%, 98%);
    opacity: 0.2;
    width:74%;
    margin-left: 11em;

}
a{
    text-decoration: none;
   font-size: 0.8em;
   color: hsl(219, 9%, 45%);
}

a:hover{
    color:hsl(180, 5%, 4%);
}
#cart-logo:hover{
    cursor: pointer;
}
.main-content{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}
.profile-img{
    height: 2em;
    width: 2em;
}
.profile-img img{
    height: 2em;
    width: 2em;
    border-radius: 50%;
}
.profile-img img:hover{
    cursor: pointer;
    border: 0.1em solid hsl(26, 100%, 55%);
}
main{
    height: 100%;
    width: 100%;
}

.next-slide{
display:none ;
}
.next-slide:hover{
    cursor: pointer;
}
.previous-slide:hover{
    cursor:pointer;
}
.previous-slide{
   display: none;
}
.large-image img{
    height: 20em;
    width: 22em;
    border-radius: 1em;
}
.small-images{
    display: flex;
    flex-direction: row;
    gap: 0.67em;
    margin-top: 1.5em;
    
}
.small-images img{
    height: 5em;
    width: 5em;
    border-radius: 1em;

}
.small-images img:hover{
    background-color: hsl(223, 64%, 98%);
    opacity: 0.5;
    cursor: pointer;
}

.info-about-product{
    height: auto;
    width: 23em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}
h2{
    font-size: 2em;
    color:  hsl(220, 13%, 13%);
}

.about-product{
    color:  hsl(219, 9%, 45%);
    font-size: 0.8em;
}
#comp{
    font-size: 0.7em;
    letter-spacing: 0.2em;
    color:  hsl(219, 9%, 45%);
}
#after-dis{
    color: hsl(220, 13%, 13%);
}
#discount{
    height: 3em;
    width: 4em;
    padding:0.2em;
    border-radius: 0.3em;
    font-size: 0.7em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(220, 13%, 13%);
}
.original-price span{
    font-size: 0.6em;
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
}
.cart-section{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
}
.no-of-item{
    height: 2em;
    width: 7em;
    display: flex;
    justify-content: center;
    border-radius: 0.4em;
    align-items: center;
    flex-direction: row;
    color:hsl(220, 13%, 13%);
    background-color: hsl(223, 64%, 98%);
    gap: 1.5em;
}
.add-cart{
    height: 2.5em;
    border: none;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 14em;
    background-color:  hsl(26, 100%, 55%);
}
.add-cart:hover{
    background-color: hsl(25, 100%, 94%);
    cursor: pointer;

}
#plus:hover{
    cursor: pointer;
}
#minus:hover{
    cursor: pointer;
}
.popup-page{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);

}
.next img{
    height: 1em;
    width: 1em;
}
.previous img{
    height: 1em;
    width: 1em;
}
.next{
    height: 2em;
    width: 2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: -12em;
    margin-left: 21em;
}
.next:hover{
    cursor: pointer;
}
.previous{
    height: 2em;
    width: 2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: -12em;
    margin-left: -1em;
}
.previous{
    cursor: pointer;
}
#closebtn{
    display: block;
    margin-bottom: 0.5em;
margin-left: 20.5em;
}
#closebtn:hover{
    cursor: pointer;
    fill: hsl(26, 100%, 55%);
}
.pop-thumbnail{
    height: 5em;
    width: 5em;
    border-radius: 1em;
}
/* .nav-option{
   padding-bottom: 1em;
    width: fit-content;
    border-bottom: 0.3em solid hsl(26, 100%, 55%);
} */
#pop-image-large{
    height: 20em;
    width: 22em;
    border-radius: 1em;
}

@media screen and (max-width:480px) {
    #bar-option{
        display: none;
    }
    .menu-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        margin-top: 1em;
    }
    hr{
        width: 0%;
    }
    .main-content{
        flex-direction:column;
        gap: 2em;
        margin-top: -1em;
      
    }
  .info-about-product{
    width:20em;
  }
  .menu-logo{
    display:block;
}
.mobile-bar{
    display:block;
}

.next-slide{
    height: 2em;
    width: 2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 10em;
    margin-left: 18em;
}
.previous-slide{
    height: 2em;
    width: 2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 10em;
}
  .next-slide img{
    height: 1em;
    width: 1em;
   
}
.previous-slide img{
    height: 1em;
    width: 1em;
  
}
  
  .large-image img{
    width:20em;
border-radius: 0.2em;
margin-top: 2em;
  }
  h2{
    font-size: 1.4em;
  }
  .small-images{
    display: none;
  }
  .price-section{
    display: flex;
    flex-direction: row;
    align-items: center;
 gap: 5em;
  }

  #discount{
    margin-left: 1em;
  }
.cart-section{
    flex-direction: column;
    align-items: center;
justify-content: center;
}
  .no-of-item{
    height: 2.5em;
    width:20em;
    gap: 5em;
}
.add-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
height: 3em;
    width: 24em;
    color: hsl(0, 0%, 0%);
    font-weight: 400;
}

.mobile-bar{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: self-start;
    height:100%;
    width: 10em;
    margin-left:-12em;
    position: absolute;
    z-index: 1;
    background-color: hsl(0, 0%, 100%);
    visibility: visible;
     transform: translateX(-10em);
}
#bar-opt{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
a{
    color: hsl(180, 5%, 4%);
}
.cart-item{
    margin-left: 4em;
    margin-top: 4em;
    box-shadow: none;
}

}
